<?php

/*
|--------------------------------------------------------------------------
| Email Config Example
|--------------------------------------------------------------------------
*/
return [
	'username'  => 'smtp_email_address',
	'password'  => 'smtp_password',
	'smtp'      => 'smtp.gmail.com',
	'smtp_port' => 465,
	'template'  => function($reminder) {
		// Create and return your template here.
		return "<h1>Attention: New Reminder</h1>
				<div>" . nl2br($reminder->message) . "</div>
				<p><a href='http://reminders.dev'>Reminders.dev</a></p>";
	}
];